/* support button styles */
.supportButton {
    background: #848484;
    border-width:3px;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-color: white;
    border-radius: 10px;
    font-family: 'FuturaPT-Medium';
    font-size: 30pt;
    padding: 7px 35px;
}

.supportButton:hover {
    background-color: #E3B049;
    border-color: #848484;
    border-width: 3px;
}


/* MEDIA QUERIES  */
@media(min-width:3000px) {
    .supportButton {
        font-size: 45pt !important;
        border-width:3px;
    }
}

@media(min-width:2800px) {
    .supportButton {
        font-size: 35pt;
    }
}

@media(min-width:2000px) {
    .supportButton {
        font-size: 30pt;
    }
}

@media(max-width: 1420px) {
    .supportButton {
        font-size: 25pt;
    }
}

@media(max-width: 1050px) {
    .supportButton {
        font-size: 15pt;
    }
}


@media(max-width: 330px) {
    .supportButton {
        font-size: 12pt;
    }
}