/* cover page background styles*/
.homePageContainer {
    z-index: -101;
    width: 100%;
    background-image: url("../../ImageAssets/adventurePics/hikerStock.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'FuturaPT-Medium';
    color: white;
}

.homePageContainerSecondary {
    height: 100%;
    background-color: rgba(204,204,204,0.4);
}

.imageGroupInnerContainer { /* applied to div tag nested inside the main aside tag */
    padding-top: 10%;
    padding-bottom: 6%;
}

.downArrowStyle {
    object-fit: contain;
    max-height: 30px;
}

/* block letter AND specialized text styles */
.homeBoldText {
    font-family: 'FuturaPT-Bold';
    color: #ffffff;
    font-size: 90pt;
}

.homeUsaText {
    color: #ffffff;
    /*font-size: 110pt;*/
    margin-bottom: -2.5rem;
}

.homeParagraphText {
    font-size: 25pt;
}

.homeScrollText {
    font-family: 'FuturaPT-Medium';
    font-size: 20pt;
}

/* MEDIA QUERIES */
@media (max-width: 1420px) {
    .homeParagraphText {
        font-size: 20pt;
    }
}
@media (max-width: 1198px) {
    .homeUsaText {
        margin-bottom: -2rem !important;
    }
}
@media (max-width: 1050px) {
    /* TEXT STYLING */
    .homeBoldText {
        font-size: 70pt;
    }
    .homeUsaText {
        font-size: 85pt;
    }
}
@media (max-width: 990px) {
    .homeScrollText {
        font-size: 15pt;
    }
    .downArrowStyle {
        max-height: 25px;
    }
}
@media (max-width: 700px) {
    /* TEXT STYLING */
    .homeParagraphText {
        font-size: 15pt;
    }
    .homeBoldText {
        font-size: 52pt;
    }
    .homeUsaText {
        font-size: 65pt;
    }
    
    /* LINE STYLE */
    .horizontalLine {
        border-bottom: 7px solid #848484;
        width: 75px;
    }
}

@media (max-width: 500px) {
    .homeBoldText {
        font-size: 45pt;
    }
    .homeUsaText {
        font-size: 45pt;
    }
}