/* cover page background styles*/
.coverPageContainer {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.coverTextContainer {
    margin-top: 15%;
    margin-right: 5%;
}

.verticalCenter {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

/* support group text styles */
.generalTitleTextStyling {
    font-family: 'FuturaPT-Medium';
    color: #ffffff;
}
.coverTitleText {
    font-size: 55pt;
}

.coverScrollText {
    font-size: 25pt;
}


/* MEDIA QUERIES */
@media(min-width:3000px) {
    .coverTitleText {
        font-size: 95pt !important;
    }
    .coverScrollText {
        font-size: 35pt !important;
    }
}

@media(min-width:2800px) {
    .coverTitleText {
        font-size: 75pt;
    }
    .coverScrollText {
        font-size: 30pt;
    }
}

@media(min-width:2000px) {
    .coverTitleText {
        font-size: 60pt;
    }
    .coverScrollText {
        font-size: 20pt;
    }
}

@media(max-width:1420px) {
    .coverTitleText {
        font-size: 35pt;
    }
}

@media(max-width: 1050px) {
    .coverTitleText {
        font-size: 30pt;
    }
    .coverScrollText {
        font-size: 15pt;
    }
}