/* CONTENT Page styles */
.pageContentContainer {
    margin-top: 15%;
    margin-bottom: 15%;
}

.overwriteGridStyles {
    /* this will prevent the bootstrap grid system from auto applying padding to the left and right of a column */
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.iconImageRestrictions {
    max-height: 180px;
    object-fit: contain;
}

.textColor {
    color: #323a4c;
}

.titleTextStyle {
    font-family: 'FuturaPT-Medium';
    font-size: 60pt;
}

.paragraphContainer {
    /* applied to parent of paragraph */
    text-align: center;
}

.paragraphStyling {
    /* applied to paragraph directly */
    max-width: 80%;
    font-family: 'FuturaPT-Book';
    font-size: 20pt;
}

.dividerImageRestrictions {
    max-height: 30px;
    object-fit: contain;
}

/* horizontal line style */
.horizontalLine {
    border-bottom: 10px solid #323a4c;
    width: 80px;
    border-radius: 3px;
}

/* IMAGE Page styles */
.sectionImageRestrictions {
    /* applied to parent of image */
    height: 100%;
}

.imageStyling {
    /* applied directly to image */
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

/* SPECIAL CASE (for mobile layout)*/
.heightExpanded {
    min-height: 650px;
}

/* MEDIA QUERIES */
@media (min-width:3000px) {
}
@media (min-width:2800px) {
}
@media (min-width:2000px) {
}

@media (max-width: 1420px) {
}
@media (max-width: 1050px) {
}
@media (max-width: 990px) {
}
@media (max-width: 700px) {
}
@media (max-width: 600px) {
}
@media (max-width: 500px) {
}
@media (max-width: 450px) {
}
@media (max-width: 400px) {
}
@media (max-width: 330px) {
}

