/* CONTACT INFO STYLES (these are used for both large AND small layouts) */
#contactInfo {
    width: 100%;
    background-color: red;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    background-repeat: no-repeat;
}

#contactSection {
    background-color: #E3B049;
}

/* header and sub header text styles and alignment */
.contactInfoHeader {
    font-family: 'FuturaPT-Medium';
    font-size: 55pt;
    color: white;
    margin-bottom: -10px;
}

.contactInfo-subHeaderText {
    font-family: 'FuturaPT-Light';
    color: white;
    min-width: 100%;
    font-size: 35pt;
    padding-bottom: 2%;
    text-align: center;
}

.footer-subText {
    color: white;
    font-family: 'FuturaPT-Light';
    font-size: 35pt;
}

.shareButton {
    background: transparent;
    border-width:medium;
    color: white;
    border-color: white;
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    padding: 15px 45px;
    margin-top: 4%;
}

/*SMALL LAYOUT SPECIFIC STYLES */
.shareTextCustom {
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
}

/* CONTACT INFO MEDIA QUERY OPTIMIZATION */
@media (max-width: 1200px) {
    .contactInfoHeader {
        font-size: 65pt;
    }
    .contactInfo-subHeaderText {
        font-size: 30pt;
    }
    .footer-subText {
        font-size: 40pt;
    }
}

@media (max-width: 770px) {
    .contactInfoHeader {
        font-size: 45pt;
    }
    .contactInfo-subHeaderText {
        font-size: 27pt;
    }
    .footer-subText {
        font-size: 30pt;
    }
    .maxIconWidth {
        width: 50px;
    }
}

@media (max-width: 550px) {
    .contactInfo-subHeaderText {
        font-size: 20pt;
    }
    .contactInfoHeader {
        font-size: 35pt
    }
    .footer-subText {
        font-size: 30pt;
    }
}

@media (max-width: 480px) {
    .contactInfo-subHeaderText {
        font-size: 18pt;
    }
    .contactInfoHeader {
        font-size: 35pt;
        padding-bottom: 2%;
    }
    .footer-subText {
        font-size: 22pt;
    }
    .maxIconWidth {
        max-width: 30px;
    }
}

@media (max-width: 380px) {
    .contactInfoHeader {
        font-size: 25pt;
        padding-bottom: 3%;
    }
    .footer-subText {
        font-size: 18pt;
    }
    .maxIconWidth {
        max-width: 22px;
    }
}