/* CONTACT INFO STYLES (these are used for both large AND small layouts) */
#contactInfo {
    width: 100%;
    background-color: red;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    background-repeat: no-repeat;
}

#contactSection {
    background-color: #E3B049;
}

/* header and sub header text styles and alignment */
.contactInfoHeader {
    font-family: 'FuturaPT-Medium';
    font-size: 55pt;
    color: white;
    margin-bottom: -10px;
}

.contactInfo-subHeaderText {
    font-family: 'FuturaPT-Light';
    color: white;
    min-width: 100%;
    font-size: 35pt;
    padding-bottom: 2%;
    text-align: center;
}

.footer-subText {
    color: white;
    font-family: 'FuturaPT-Light';
    font-size: 25pt;
}

.shareButton {
    background: transparent;
    border-width:medium;
    color: white;
    border-color: white;
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
    padding: 15px 45px;
    margin-top: 4%;
}

/*SMALL LAYOUT SPECIFIC STYLES */
.shareTextCustom {
    font-family: 'FuturaPT-Light';
    font-size: 20pt;
}

/* CONTACT INFO MEDIA QUERY OPTIMIZATION */
@media (min-width: 1920px) {
}

@media (max-width: 1200px) {
    .contactInfoHeader {
        font-size: 65pt;
    }
    .contactInfo-subHeaderText {
        font-size: 30pt;
    }
   /* .customPadding {
        padding-top: 15%;
    }
}

@media (max-width: 1000px) {
    .contactInfoHeader {
        font-size: 40pt;
    }
    .contactInfo-subHeaderText {
        font-size: 27pt;
        padding-bottom: 3%;
    }
    /*.customPadding {
        padding-top: 15%;
    }*/
}

@media (max-width: 960px) {
    .shareButton {
        border-width:2px;
        font-size: 15pt;
        padding: 12px 29px;
    }
}

@media (max-width: 770px) {
    .shareButton {
        border-width:2px;
        font-size: 13pt;
        padding: 10px 27px;
    }
    .contactInfoHeader {
        font-size: 45pt;
    }
    .contactInfo-subHeaderText {
        font-size: 27pt;
    }
    .footer-subText {
        font-size: 20pt;
    }
}

@media (max-width: 550px) {
    .shareButton {
        border-width:1.75px;
        font-size: 12pt;
        padding: 8px 20px;
    }
    .contactInfo-subHeaderText {
        font-size: 20pt;
    }
    .contactInfoHeader {
        font-size: 35pt
    }
    .footer-subText {
        font-size: 12pt;
    }
    .shareTextCustom {
        font-size: 15pt;
    }
}

@media (max-width: 480px) {
    .shareButton {
        border-width: 2px;
        font-size: 10pt;
        padding: 8px 20px;
    }
    .contactInfo-subHeaderText {
        font-size: 12pt;
    }
    .contactInfoHeader {
        font-size: 30pt;
        padding-bottom: 2%;
    }
    .footer-subText {
        font-size: 12pt;
    }
    .shareTextCustom {
        font-size: 10pt;
    }
    .specialMaxIconWidth {
        max-width: 12px;
    }
    .maxIconWidth {
        max-width: 15px;
    }
    /*.shareButtonCustomPadding {
        padding-top: 2%;
    }*/
}

@media (max-width: 380px) {
    .contactInfoHeader {
        font-size: 25pt;
        padding-bottom: 3%;
    }
    .footer-subText {
        font-size: 10pt;
    }
    .shareButton {
        font-size: 10pt;
        padding: 6px 18px;
    }
    .shareTextCustom {
        font-size: 10pt;
    }
    .specialMaxIconWidth {
        max-width: 9px;
    }
    .maxIconWidth {
        max-width: 12px;
    }
    /*.reducedPadding {
        padding-right: -2px;
    }*/
}
/*
@media (max-width: 320px) {
    .shareButton {
        font-size: 9pt;
        padding: 5px 15px;
    }
}*/