/* CONTENT styles */
.textColor {
    color: #323a4c;
}

.mainTitleStyle {
    font-family: 'FuturaPT-Book';
    font-size: 60pt;
}

.mainTitleAccentStyle {
    font-family: 'FuturaPT-Bold';
}

.titleTextStyle {
    font-family: 'FuturaPT-Medium';
    font-size: 35pt;
}

.paraTextStyle {
    /* applied to paragraph directly */
    max-width: 90%;
    font-family: 'FuturaPT-Book';
    font-size: 15pt;
}

/* horizontal line style */
.horizontalLine {
    border-bottom: 10px solid #323a4c;
    width: 80px;
    border-radius: 3px;
}

.customLineMargin {
    margin-bottom: 6%;
}

/* Container styles */
.mainColContainer{
    margin-top: 8%;
    margin-bottom: 8%;
}

.rowPaddingFix {
    padding-left: 3%;
}

/* IMAGES styles */
.imageRestrictions {
    max-width: 90%;
    height: 275px;
}

.imageStyling {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.dividerImageRestrictions {
    max-height: 30px;
    object-fit: contain;
}


/* MEDIA QUERIES */
@media (max-width:990px) {
    .mainTitleStyle {
        font-size: 50pt;
        text-align: center;
    }
}

@media (max-width:700px) {
    .mainTitleStyle {
        font-size: 40pt;
    }
}

@media (max-width:600px) {
    .mainTitleStyle {
        font-size: 35pt;
    }
}



